.container.workspace.simple-stack.simple-stack-transition
  .page.page-root.simple-pjax
    #page-events.page-inner{"data-page-name" => "动态", "data-since" => "2014-10-14 12:56:29 UTC"}
      .filters
        %span.filters-title 筛选动态
        .mcw-pop-select.filter-member
          %span.selected-text 所有成员
          %span.icon-arrow.fa.fa-chevron-down
          %input#filter-member{:name => "by_member", :type => "hidden", :value => ""}
      .team-events
        = render_cell :events, :index, :events => @events
      = link_to '加载更多内容', @next_page_path, :remote => true, :id => 'btn-load-more'

      