.events-ancestor
  %h5.events-ancestor-title
    %a{:href => "#{team_project_path(current_team, @project)}", :target => "_blank"} 
      = @project.name
  - @events.each do |event|
    = render_cell :events, :show, :event => event